@font-face {
	font-family: 'Rooster';
	src: local('Rooster'),
		url(./fonts/RoosterPersonalUse-3z8d8.ttf) format('opentype');
}

* {
	margin: 0;
}

.header {
	background-color: #0d4082;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Rooster', cursive;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
		2px 2px 0 white;
	color: red;
	font-size: 50px;
	height: 20vh;
	padding: 1rem;
}

.header img {
	width: 12vh;
	height: 12vw;
	padding-right: 10px;
}

.main {
	min-height: 100vh;
	background-image: url(./images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 3rem;
}

.footer {
	height: 15vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #0d4082;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 75vw;
	border: 2px solid #0d4082;
	border-radius: 5px;
	box-shadow: 5px 5px #0d4082;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leagueSelectHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 75vw;
	border: 2px solid #0d4082;
	border-radius: 5px;
	box-shadow: 5px 5px #0d4082;
	background-color: white;
	margin-top: 3rem;
	font-family: 'Rooster', cursive;
	font-size: 50px;
	color: red;
	text-shadow: -2px -2px 0 #0d4082, 2px -2px 0 #0d4082, -2px 2px 0 #0d4082,
		2px 2px 0 #0d4082;
}

.leagueSelectHeader h2 {
	margin-bottom: 1rem;
}

.leagueSelect {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.leagueLogo {
	font-family: 'Rooster', cursive;
	font-size: 50px;
	color: red;
	text-shadow: -2px -2px 0 #0d4082, 2px -2px 0 #0d4082, -2px 2px 0 #0d4082,
		2px 2px 0 #0d4082;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	transition-duration: 0.75s;
	transition-timing-function: ease-in-out;
	margin-right: 1rem;
}

.leagueLogo img {
	width: 25vw;
	height: 50vh;
	padding: 1rem;
}

.leagueLogo h3 {
	padding: 1rem;
}

.leagueLogo:hover {
	background-color: #0d4082;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
		2px 2px 0 white;
	transition-duration: 0.75s;
	transition-timing-function: ease-in-out;
}

.divisionSelect {
	background-color: white;
	border: 2px solid #0d4082;
	box-shadow: 10px, 10px, #0d4082;
	border-radius: 5px;
	width: 75vw;
	min-height: 90vh;
	margin: 3rem;
	display: flex;
	flex-direction: column;
}

hr {
	height: 5px;
	background-color: red;
	width: 74vw;
	align-self: center;
}
.modalHeader {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 1rem;
	text-align: center;
}

.modalHeader h2 {
	margin-right: 23%;
}

.modalHeader button {
	background: red;
	color: #0d4082;
	font-family: 'Rooster', cursive;
	font-size: 3rem;
	padding: 1rem;
	align-self: flex-start;
	justify-content: center;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
		2px 2px 0 white;
	border-radius: 5px;
	margin-right: 2rem;
}

.divisionDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.teamDisplay {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	padding: 1rem;
}

.teamDisplay img {
	width: 10vw;
	height: 15vh;
}

.teamDisplay h4 {
	font-size: 1.5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
		2px 2px 0 white;
}

.teamDisplay:hover {
	background-color: #0d4082;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
		2px 2px 0 white;
	transition-duration: 0.75s;
	transition-timing-function: ease-in-out;
}
.divisionTeamDisplay {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.teamInfoDisplay {
	background-color: red;
	height: 100vh;
}
